<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close">&times;</span>
        <h2>Convert Time to Frame ID</h2>
        <div class="time-inputs">
            <input type="number" id="minutes" placeholder="Enter minutes">
            <input type="number" id="seconds" placeholder="Enter seconds">
        </div>
        <button id="convertBtn" class="convert-button">Convert</button>
        <div class="info-container">
            <div class="info-item">
                <p id="frameId" class="value"></p>
            </div>
            <div class="info-item">
                <p id="videoId" class="value"></p>
            </div>

        </div>
    </div>
</div>
