<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close">&times;</span>
        <h2>Convert Time to Frame ID</h2>
        <div class="time-inputs">
            <input type="number" id="minutes" placeholder="Enter minutes">
            <input type="number" id="seconds" placeholder="Enter seconds">
        </div>
        <button id="convertBtn" class="convert-button">Convert</button>
        <div class="info-container">
            <div class="info-item">
                <p id="frameId" class="value"></p>
            </div>
            <div class="info-item">
                <p id="videoId" class="value"></p>
            </div>
            <div class="info-item">
                <p id="fps" class="value"></p>
            </div>
        </div>
    </div>
</div>

<div class="popup-submit" id="popup-container" style="display:none;">
    <h3>Submit Data</h3>
    <div class="info-container">
        <div class="info-item">
            <h6 id="frameId-Submit" class="value"></h6>
        </div>
        <div class="info-item">
            <h4 id="videoId-Submit" class="value"></h4>
        </div>
    </div>
    <input type="checkbox" id="qa-checkbox"> QA<br>
    <div id="qa-input-container" style="display:none;">
        <label for="qa-text">QA Text:</label>
        <input type="text" id="qa-text" placeholder="Enter QA text"><br>
    </div>
    <button id="confirm-submit">Submit</button>
</div>

<!-- Nền mờ -->
<div id="popup-overlay" class="popup-overlay" style="display:none;"></div>