<!-- Modal structure -->
<div id="imageModal" class="modal">
    <div class="modal-content">
        <span id="close-modal-button" class="close">&times;</span>
        <img id="mainImage" src="static/image/Videos_L10/L10_V002/012_L10_V002_mid.jpg" alt="Main Image" class="main-modal-image">
        <div class="frame-images">
            <img id="frameImage1" src="static/image/Videos_L02/L02_V001/009_L02_V001_start.jpg" alt="Frame 1" class="small-frame-image">
            <img id="frameImage2" src="static/image/Videos_L02/L02_V002/000_L02_V002_start.jpg" alt="Frame 2" class="small-frame-image">
        </div>
    </div>
</div>
