<div class="sidebar">
    <select id="model-select">
      <option value="Clip">Clip</option>
      <option value="Blip">Blip</option>
      <option value="Beit3">Beit3</option>
    </select>
    <div class="text-query-container">
      <div class="top-k-container">
        <label for="text-query">Text Query</label>
        <label for="input-topk">Top K:</label>
        <input type="number" placeholder="Top K" id="input-topk" value="1000">
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="query-checkbox">
        <label for="query-checkbox">Add text</label>
        <input type="checkbox" id="prompt-checkbox">
        <label for="prompt-checkbox">Gemini</label>
    <div>
      <button id="recordButton">Ghi âm</button>
      <audio id="audioPlayback" controls style="display: none"></audio>
      <button id="sendAudioToBackendButton" style="display: none">
        Gửi file ghi âm này sang phía backend
      </button>
    </div>
    </div>
      <textarea id="text-query" rows="4" cols="50"></textarea>
      <div id="additional-queries"></div>
    </div>


    <div class="button-group">
      <input type="file" id="image-upload" accept="image/*" style="display: none;" />
      <button id="upload-btn">Upload</button>
      <button id="enter-btn">ENTER</button>
    </div>
  
    <div class="visualize-right">
      <button class="rerank-btn">Rerank</button>
    </div>
  
    <div class="OCR_ASR">
      <div class="ocr-asr-group">
          <label for="ocr">OCR</label>
          <textarea id="ocr" rows="2"></textarea>
          <button id='enter-ocr' type="button">Enter</button>
      </div>
      <div class="ocr-asr-group">
          <label for="asr">ASR</label>
          <textarea id="asr" rows="2"></textarea>
          <button id='enter-asr' type="button">Enter</button>
      </div>
  </div>
  
  
      
    {% include 'components/sidebar_filter.html' %}
  </div>  
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>